[submodule "external/LibCMaker"]
	path = external/LibCMaker
	url = git@github.com:LibCMaker/LibCMaker.git
[submodule "external/LibCMaker_AGG"]
	path = external/LibCMaker_AGG
	url = git@github.com:LibCMaker/LibCMaker_AGG.git
[submodule "external/LibCMaker_Dirent"]
	path = external/LibCMaker_Dirent
	url = git@github.com:LibCMaker/LibCMaker_Dirent.git
[submodule "external/LibCMaker_Expat"]
	path = external/LibCMaker_Expat
	url = git@github.com:LibCMaker/LibCMaker_Expat.git
[submodule "external/LibCMaker_FontConfig"]
	path = external/LibCMaker_FontConfig
	url = git@github.com:LibCMaker/LibCMaker_FontConfig.git
[submodule "external/LibCMaker_FreeType"]
	path = external/LibCMaker_FreeType
	url = git@github.com:LibCMaker/LibCMaker_FreeType.git
[submodule "external/LibCMaker_GoogleTest"]
	path = external/LibCMaker_GoogleTest
	url = git@github.com:LibCMaker/LibCMaker_GoogleTest.git
[submodule "external/LibCMaker_HarfBuzz"]
	path = external/LibCMaker_HarfBuzz
	url = git@github.com:LibCMaker/LibCMaker_HarfBuzz.git
[submodule "external/LibCMaker_STLCache"]
	path = external/LibCMaker_STLCache
	url = git@github.com:LibCMaker/LibCMaker_STLCache.git
[submodule "HtmlGrapheas"]
	path = HtmlGrapheas
	url = git@github.com:HtmlGrapheas/HtmlGrapheas.git
	