[submodule "cmake/libcmaker/LibCMaker"]
	path = cmake/libcmaker/LibCMaker
	url = git@github.com:LibCMaker/LibCMaker.git
[submodule "cmake/libcmaker/LibCMaker_AGG"]
	path = cmake/libcmaker/LibCMaker_AGG
	url = git@github.com:LibCMaker/LibCMaker_AGG.git
[submodule "cmake/libcmaker/LibCMaker_Dirent"]
	path = cmake/libcmaker/LibCMaker_Dirent
	url = git@github.com:LibCMaker/LibCMaker_Dirent.git
[submodule "cmake/libcmaker/LibCMaker_Expat"]
	path = cmake/libcmaker/LibCMaker_Expat
	url = git@github.com:LibCMaker/LibCMaker_Expat.git
[submodule "cmake/libcmaker/LibCMaker_FontConfig"]
	path = cmake/libcmaker/LibCMaker_FontConfig
	url = git@github.com:LibCMaker/LibCMaker_FontConfig.git
[submodule "cmake/libcmaker/LibCMaker_FreeType"]
	path = cmake/libcmaker/LibCMaker_FreeType
	url = git@github.com:LibCMaker/LibCMaker_FreeType.git
[submodule "cmake/libcmaker/LibCMaker_GoogleTest"]
	path = cmake/libcmaker/LibCMaker_GoogleTest
	url = git@github.com:LibCMaker/LibCMaker_GoogleTest.git
[submodule "cmake/libcmaker/LibCMaker_HarfBuzz"]
	path = cmake/libcmaker/LibCMaker_HarfBuzz
	url = git@github.com:LibCMaker/LibCMaker_HarfBuzz.git
[submodule "cmake/libcmaker/LibCMaker_ICU"]
	path = cmake/libcmaker/LibCMaker_ICU
	url = git@github.com:LibCMaker/LibCMaker_ICU.git
[submodule "cmake/libcmaker/LibCMaker_STLCache"]
	path = cmake/libcmaker/LibCMaker_STLCache
	url = git@github.com:LibCMaker/LibCMaker_STLCache.git
[submodule "cmake/libcmaker/LibCMaker_wxWidgets"]
	path = cmake/libcmaker/LibCMaker_wxWidgets
	url = git@github.com:LibCMaker/LibCMaker_wxWidgets.git
[submodule "HtmlGrapheas"]
	path = HtmlGrapheas
	url = git@github.com:HtmlGrapheas/HtmlGrapheas.git
